body {
    background-color: rgb(207, 243, 208);
}

.container {
    max-width: 2000px;
    perspective: 900000px;
    -webkit-perspective: 900000px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #198754;
    color: white;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.usercontainer {
    text-align: center;
    align-content: center;
    padding: 16px;
    margin: auto;
    margin-top: 16px;
}

.userTitle {
    margin-top: 5px;
}

/* .card-body {
    height: 20rem;
} */

.loader {
    align-content: center;
    margin-top: 20rem;
    position: absolute;
}

.userform {
    align-content: center;
    text-align: center;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.form-group>label {
    color: #777;
    font-size: .75rem;
    margin-bottom: .25rem;
}

.btn {
    color: white;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    cursor: pointer;
}

.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
}

.flip-card {
    background-color: transparent;
    -webkit-perspective: 900000px;
    perspective: 900000px;
}

.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    transition: 0.5s ease;
    cursor: pointer;
    background-color: white;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

strong {
    text-transform: capitalize
}

.card:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.flip {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY((180deg));
}

.front,
.back {
    position: absolute;
    padding: 0.5rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY((-180deg));
}

span {
    color: #555;
    font-size: .85rem;
}

.back-label {
    position: relative;
}

.back-text {
    background-color: rgb(245, 238, 238);
    border-radius: 2px;
    border-style: inset;
    padding: 1px;
}

.flashcard-option:first-child {
    margin-top: 0;
}

.back {
    overflow: auto;
}

label.radio {
    display: block;
    text-align: left;
    padding: 15px;
    margin-bottom: 5px;
    font-size: 20px;
}

label.radio+.radio {
    margin-left: 0;
}

label.radio input {
    margin-right: 10px;
}

.home_btns {
    padding: 16px;
}

.btn-success {
    margin: 0.5rem;
    width: 10rem;
}

.quiz-container {
    padding: 16px;
    margin-top: 2rem;
}