body {
    background-color: rgb(207, 243, 208);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    max-width: 2000px;
    perspective: 900000px;
    -webkit-perspective: 900000px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #198754;
    color: white;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.usercontainer {
    text-align: center;
    align-content: center;
    padding: 16px;
    margin-top: 5rem;
}

.userTitle {
    margin-top: 5px;
}

.loader {
    margin-top: 18rem;
    position: absolute;
    text-align: center;
}

.userform {
    align-content: center;
    text-align: center;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.quiz_header {
    display: inline-block;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.form-group>label {
    color: #777;
    font-size: .75rem;
    margin-bottom: .25rem;
}

.btn {
    color: white;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    cursor: pointer;
}

.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 16px;
    margin-top: 2.5rem;
}

.flip-card {
    background-color: transparent;
    -webkit-perspective: 900000px;
    perspective: 900000px;
}

.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    transition: 0.5s ease;
    cursor: pointer;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

strong {
    text-transform: capitalize
}

.card:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.flip {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY((180deg));
}

.front,
.back {
    position: absolute;
    padding: 0.5rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front {
    background-color: rgb(207, 243, 208);
}

.back {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY((-180deg));
}

span {
    font-size: .85rem;
    margin-left: 5px;
}

.col {
    padding: 5px;
}

.back-label {
    position: relative;
}

.back-text {
    /* background-color: rgb(207, 243, 208); */
    border-radius: 2px;
    /* border-style: inset; */
    padding: 1px;
}

.flashcard-option:first-child {
    margin-top: 0;
}

.back {
    overflow: auto;
}

label.radio {
    display: block;
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

label {
    padding: 5px;
}

label.radio+.radio {
    margin-left: 0;
}

label.radio input {
    margin-right: 10px;
}

.home_btns {
    padding: 16px;
}

.btn-success {
    margin: 0.5rem;
    width: 10rem;
}

.quiz-container {
    padding: 16px;
    margin-top: 2rem;
}

.alert-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: mediumseagreen;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

.quiz_label {
    margin-top: 26px;
}

.quiz_start {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}